/Arcade Casino Tycoon/Library
/Arcade Casino Tycoon/Logs
/Arcade Casino Tycoon/UserSettings
/Arcade Casino Tycoon/Temp
Arcade Casino Tycoon/.vs/Arcade Casino Tycoon/FileContentIndex/dfd4f090-3506-48ec-8669-a5d0e5767624.vsidx
